# http://docs.fluentd.org/articles/ruby
<source>
  type forward
  port 24224
</source>

# for debug
# <match ninja.*>
#   type stdout
# </match>

# to store logs
<match ninja.*>
  # plugin type
  type mongo

  # mongodb host + port
  host localhost
  port 27017

  # mongodb db + collection
  database ninja_logs

  tag_mapped
  remove_tag_prefix ninja.

  # This configuration is used if tag not found. Default is 'untagged'.
  collection misc

  capped
  capped_size 1024m

  # interval
  flush_interval 10s
</match>
